{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trucks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="{% static '/images/site.png' %}">
</head>
<body style="background: url({% static 'images/background.jpg' %}); background-size: 100%;">

{% include 'patials/header.html' %}

{% if user.is_authenticated %}

    <h1 class="text-center" style="color: white">{% block h1_content %} {% endblock %}</h1>

    {% block base_content %}

    {% endblock %}

{% else %}

    <h1 class="text-center" style="color: white"> {% block auth_h1 %} Please authenticate for views {% endblock %} </h1>

    {% block auht_base %}

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="m-auto d-flex justify-content-center">
                        <div class="m-5">
                            <a class="btn btn-dark btn-lg" href="{% url 'login' %}">Have a account</a>
                        </div>
                        <div class="m-5">
                            <a class="btn btn-dark btn-lg" href="{% url 'register' %}">Have`t a account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

{% endif %}

{% include 'patials/foother.html' %}

</body>
</html>
