{% extends 'shared/base.html' %}

{% block h1_content %} LogOut {% endblock %}

{% block base_content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 style="color: white">Are you sure you want to LOGOUT ?</h1>
                <div class="m-auto d-flex justify-content-center">
                    <div class="m-2">
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <input type="submit" value="LogOut" class="btn btn-dark"/>
                        </form>
                    </div>
                    <div class="m-2">
                        <a class="btn btn-dark btn-lg" href="javascript:history.back()">No, go back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
